<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.obeonetwork.jarvis.server.jarvisServerStaticResourceProvider">
      <descriptor
            class="org.obeonetwork.jarvis.webapp.internal.JarvisWebappStaticResourceProvider"
            description="%JarvisWebappStaticResourceProvider.Description"
            id="org.obeonetwork.jarvis.webapp.StaticResourceProvider"
            label="%JarvisWebappStaticResourceProvider.Label">
      </descriptor>
   </extension>

</plugin>
