<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.obeonetwork.jarvis.server.jarvisServerStaticResourceProvider">
      <descriptor
            class="org.obeonetwork.jarvis.core.internal.JarvisCoreStaticResourceProvider"
            description="%JarvisCoreStaticResourceProvider.Description"
            id="org.obeonetwork.jarvis.core.StaticResourceProvider"
            label="%JarvisCoreStaticResourceProvider.Label">
      </descriptor>
   </extension>

</plugin>
